{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test dashboard</title>
    <script src="{% static 'js/Analyzer.js' %}"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="" />
    <style>
        #map{
            width: 100vw;
            height: 50vh;
        }
    </style>
</head>
<body>
    
    <h1 id="live-user-count">0</h1>
    <h1 id="live-desktop-count">0</h1>
    <h1 id="live-mobile-count">0</h1>

    <div id="map" ></div>

    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
    <script>
        const client = new AnalyzerClient()
        client.connect("test","InstandBlog",true)
        client.watch_live_data(true)
    </script>
</body>
</html>